API Reference
=============

.. container:: api-generation

   .. autosummary::
      :toctree: api
      :recursive:

      {{ import_name }}

.. container:: api-root

   .. include:: api/{{ import_name }}.rst  
