
Documentation for {{ html_title }}
================================================================================

.. include:: ../../README.md
   :parser: myst_parser

API Reference
-------------  

.. container:: api-root   

   .. include:: api/{{ import_name }}.rst
